.filter-danger {
    filter: invert(29%) sepia(78%) saturate(2442%) hue-rotate(335deg) brightness(89%) contrast(94%);
}
.filter-warning {
    filter: invert(85%) sepia(18%) saturate(4572%) hue-rotate(351deg) brightness(99%) contrast(103%);
}
.filter-info {
    filter: invert(56%) sepia(32%) saturate(6457%) hue-rotate(154deg) brightness(95%) contrast(82%);
}
.filter-primary {
    filter: invert(34%) sepia(99%) saturate(3373%) hue-rotate(199deg) brightness(102%) contrast(108%);
}
.filter-success{
    filter: invert(46%) sepia(39%) saturate(1711%) hue-rotate(94deg) brightness(100%) contrast(69%);
}
.player-best{
    color: #00dc33!important;
}
.player-recommended{
    color: #2f5e1d!important;
}
.player-ok{
    color: #8f8f01!important
}
.player-iffy{
    color: #b55a04!important
}
.player-bad{
    color: #6a0a0a!important
}
.player-icon{
    display:inline;
    margin-left:-7px;
}
.player-icon-text{
    margin-left:-15px; 
    -webkit-text-stroke: 1px white; font-size: smaller
}
.text-dark > .player-icon-text{
    -webkit-text-stroke: 1px black; font-size: smaller
}
.weight-icon{
    height: 20px;
    vertical-align: -0.03em;
    margin-left: -5px;
}
.time-icon{
    display: inline;
    margin-left: -7px;
}
.owner-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: -40px;
    margin-top: -9px;
    border: white 1px solid;
    font-size: small;
}
.owner-circle-small {
    width: 15px;
    height: 15px;
    margin-left: -40px;
    margin-top: -6px;
}
.owner-container{
    margin-top: -85px;
}
.owner-container-small{
    margin-top: -40px;
    margin-left: 10px;
}
.boardgame-image {
    width: 90px;
    height: 90px;
    margin-left: -20px;
    margin-top: -12px;
    margin-bottom: -12px;
    margin-right: 20px;
}
.has-rating-10{
    /* background-color: #186b40!important; */
    color :#00cc00;
}
.has-rating-9{
    /* background-color: #186b40!important; */
    color:#33cc99;
}
.has-rating-8{
    /* background-color: #1d804c!important; */
    color:#66ff99;
}
.has-rating-7{
    /* background-color: #1978b3!important; */
    color:#99ffff;
}
.has-rating-6{
    /* background-color: #5369a2!important; */
    color:#9999ff;
}
.has-rating-5{
    /* background-color: #5369a2!important; */
    color:#cc99ff;
}
.has-rating-4{
    /* background-color: #d71925!important; */
    color:#ff66cc;
}
.has-rating-3{
    color:#ff6699;
}
.has-rating-2{
    color:#ff3366;
}
.has-rating-1{
    color:#ff0000;
}
.form-select {
    background-color: #545b62;
    color: #ced4da;
    border: 1px solid rgba(255,255,255,.125);
}
.collection-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #212529;
    border-top: 1px solid rgba(255,255,255,.125);
}

.accordion-button,
.accordion-button:not(.collapsed){
    color:#e9ecef;
    background-color: transparent;
    box-shadow: none;
    padding:0;
}
.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23A0A0A0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23A0A0A0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}
.accordion-button{
    color:#e9ecef;

}
@media (max-width: 575px) { /*Small Screen*/
    .card-body{
        margin-left:15px;
    }
    .form-range{
        width:80%;
        margin-left:40px
    }
    .owner-container{
        margin-top: 5px;
        margin-left:0px
    }
    .owner-container-small{
        margin-top: 5px;
        margin-left:0px
    }
    .owner-circle{
        display: inline-block;
        margin-left: -12px;
        margin-top: -30px;
    }
    .owner-circle-small{
        margin-left: 15px;
        margin-top: -40px;
    }
    .card {
        margin-left: -15px;
        margin-right: -15px;
    }
    .card-body{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    td{
        padding-left: 4px !important;
        padding-right: 4px !important;
        font-size: small !important;
    }
    th{
        padding-left: 4px !important;
        padding-right: 4px !important;
        font-size: x-small !important;
    }
    .filter-btn {
        padding: 2px !important;
    }
    .badge {
        /* font-size: xx-small !important; */
        /* font-weight: normal !important; */
        white-space: inherit  !important;
    }
    /* .overflow-auto{
        margin-right: 35px;
    } */
    #factionSelection,
    #commanderSelection,
    #tournamentSelection,
    #playerSelection,
    #cardSelection,
    #opposingCardSelection {
        padding-right:35px;
    }
}
@media (min-width: 1570px){
    #statistics-card-body{
        max-height: 675px;
        overflow: auto;
    }
    .col-xxl-1 { flex: 0 0 8% !important; max-width: 8% !important; }
    .col-xxl-2 { flex: 0 0 16% !important; max-width: 16% !important; }
    .col-xxl-3 { flex: 0 0 25% !important; max-width: 25% !important; }
    .col-xxl-4 { flex: 0 0 33% !important; max-width: 33% !important; }
    .col-xxl-5 { flex: 0 0 41% !important; max-width: 41% !important; }
    .col-xxl-6 { flex: 0 0 50% !important; max-width: 50% !important; }
    .col-xxl-7 { flex: 0 0 58% !important; max-width: 58% !important; }
    .col-xxl-8 { flex: 0 0 66% !important; max-width: 66% !important; }
    .col-xxl-9 { flex: 0 0 75% !important; max-width: 75% !important; }
    .col-xxl-10 { flex: 0 0 83% !important; max-width: 83% !important; }
    .col-xxl-11 { flex: 0 0 91% !important; max-width: 91% !important; }
    .col-xxl-12 { flex: 0 0 100% !important; max-width: 100% !important; }
  }